@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

* {
  font-family: 'Outfit', sans-serif;
}
.app-container {
  @apply px-6 sm:px-10 lg:px-20;
}

@theme {
  --color-primary: #555676;
}
